@model PuzzleTuerenModel
@{
    ViewData["Title"] = "Puzzle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Lösung für das Puzzle</h2>

<style>
    .teil {
        width: 175px;
        max-width: 175px;
        height: 163px;
        padding: 0;
        margin: 0;
        border: solid;
        border-width: 1px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(1).Bild" />
            </td>
            <td class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(2).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(3).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(4).Bild" />
            </td>
        </tr>
        <tr>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(5).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(6).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(7).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(8).Bild" />
            </td>
        </tr>
        <tr>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(9).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(10).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(11).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(12).Bild" />
            </td>
        </tr>
        <tr>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(13).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(14).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(15).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(16).Bild" />
            </td>
        </tr>
        <tr>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(17).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(18).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(19).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(20).Bild" />
            </td>
        </tr>
        <tr>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(21).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(22).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(23).Bild" />
            </td>
            <td  class="teil">
                <img src="@Model.GebeMirPuzzleStueckAnhandDesTages(24).Bild" />
            </td>
        </tr>
    </tbody>
</table>
